NEXT_PUBLIC_API_REGISTER_URL=http://localhost:8080/auth/register
NEXT_PUBLIC_API_LOGIN_URL=http://localhost:8080/auth/login
NEXT_PUBLIC_PRODUCT_LIST_URL=http://localhost:8080/products
NEXT_PUBLIC_API_PAYMENT_URL=http://localhost:8080/payments/create-checkout-session
NEXT_PUBLIC_API_ORDERS_URL=http://localhost:8080/orders
