NEXT_PUBLIC_API_REGISTER_URL=http://localhost:8080/auth/register
NEXT_PUBLIC_API_LOGIN_URL=http://localhost:8080/auth/login
NEXT_PUBLIC_PRODUCT_LIST_URL=http://localhost:8080/products
NEXT_PUBLIC_API_PAYMENT_URL=http://localhost:8080/payments/create-checkout-session
NEXT_PUBLIC_API_PAYMENT_QUOTE_URL=http://localhost:8080/payments/quote
NEXT_PUBLIC_API_PAYMENT_STATUS_URL=http://localhost:8080/payments/checkout-session
NEXT_PUBLIC_API_ORDERS_URL=http://localhost:8080/orders
NEXT_PUBLIC_API_ADMIN_URL=http://localhost:8080/admin
