NEXT_PUBLIC_BACKEND_ORIGIN=http://localhost:8080
NEXT_PUBLIC_API_LOGIN_URL=http://localhost:8080/auth/login
NEXT_PUBLIC_API_REGISTER_URL=http://localhost:8080/auth/register
NEXT_PUBLIC_API_REFRESH_URL=http://localhost:8080/auth/refresh
NEXT_PUBLIC_API_LOGOUT_URL=http://localhost:8080/auth/logout
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
